html {
  box-sizing: border-box;
}
  *,
  *:before,
  *:after {
  box-sizing: inherit;
}
  
/*  --------------- Utility Classes -----------------  */
  
:root{
--main-bg-color: #ffffff;
--first-color: #FCEBB8;
--second-color: #FC465E;
--third-color: #E7F7FF;
--forth-color: #0B3290;
--primary-typo-color: #000000;
--second-type-color: #3DA2D9;
--third-type-color: #D20125;
}

body{
    margin: 0;
    padding: 0;
}
  
.container {
    width: 100%;
    max-width: 440px;
    margin: 0 auto;
}


#primary{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -40px;
    background: var(--first-color);      
}

.logo{
    margin: 0;
    padding-top: 8px;
}

.name{
    margin-left: 30px;
    margin-bottom: -30px;
}

.navbar{
    margin-right: 30px;
    margin-top: 60px;
}

.hamburger{
    font-size: 1.8rem;
    cursor: pointer;
}

.intro h1{
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.4rem;
    text-align: center;
}

.intro h2{
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.2rem;
    text-align: center;
    color: var(--second-type-color);
}

.content{
    background: var(--third-color);
}

.headers h1{
    background: var(--second-color);
    padding: 10px;
    text-align: center;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.9rem;
}

#table{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    margin-top: -25px;
    list-style: none;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.2rem;
}

#table ul{
    list-style: none;
}

.left{
    grid-column: 1/10;
    margin-left: -10px;
}

.right{
    grid-column: 10/12;
}

.multiple-items div{
    margin: 10px;
}

.left2{
    grid-column: 1/10;
    margin-left: -10px;
}

.right2{
    grid-column: 10/12;
    margin-left: -15px;
}

.left3{
    grid-column: 1/7;
    margin-left: -10px;
}

.right3{
    grid-column: 7/12;
}

.ingred{
    text-align: center;
    font-family: "DM Serif Text", serif;
    font-style: italic;
    font-size: 1.2rem;
}

.ingred h2{
    color: var(--second-type-color);
}

.ingred hr{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: -20px;
    border: none;
    height: 1.5px;
    background-color: #000000;
}

.left4{
    grid-column: 1/8;
    margin-left: -10px;
}

.right4{
    grid-column: 8/12;
}

footer{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    background: var(--first-color);
    margin-top: 20px;
}

.left-side{
    grid-column: 1/10;
}

footer p{
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    text-align: center;
    color: var(--third-type-color);
}

footer h4{
    font-family: "DM Serif Text", serif;
    font-style: italic;
    font-size: 1rem;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 5px;
}

footer img{
    margin-left: 15px;
    margin-bottom: 15px;
}

.right-side{
    grid-column: 10/12;
    margin-top: 35px;
    margin-left: -40px;
}

footer h3{
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    margin-right: -10px;
}

.fa-location-dot {
  color: var(--third-type-color);
  font-size: 1.2rem; 
}


.icons{
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
  margin-left: 70px;
  gap: 10px;
}

footer a{
  text-decoration: none;
  color: var(--forth-color);
}

footer a:hover{
  color: var(--primary-typo-color);  
}

/*  ---------------Back to Top-----------------  */

.progress-wrap {
	position: fixed;
	right: 420px;
	bottom: 50px;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	border-radius: 50px;
	background-color: var(--second-type-color);           
	box-shadow: inset 0 0 0 2px rgba(255,255,255,0.2);
	z-index: 10000;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);
	transition: all 200ms linear;
}

.progress-wrap.active-progress {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.progress-wrap::after {
	position: absolute;
	content: '↑';               
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	color: var(--primary-typo-color);                 
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 2;
	transition: all 200ms linear;
}

.progress-wrap::before {
	display: none;
}

.progress-wrap svg path { 
	fill: none; 
}

.progress-wrap svg.progress-circle path {
	stroke: var(--primary-typo-color);
	stroke-width: 4;
	box-sizing: border-box;
	transition: all 200ms linear;
}


