html {
  box-sizing: border-box;
}
  *,
  *:before,
  *:after {
  box-sizing: inherit;
}
  
/*  --------------- Utility Classes -----------------  */
  
:root{
--main-bg-color: #ffffff;
--first-color: #FCEBB8;
--second-color: #FC465E;
--third-color: #E7F7FF;
--forth-color: #0B3290;
--primary-typo-color: #000000;
--second-type-color: #3DA2D9;
--third-type-color: #D20125;
}

body{
  margin: 0;
  padding: 0;
}
  
.container {
  width: 100%;
  max-width: 440px;
  margin: 0 auto;
}


#primary{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -40px;
  background: var(--first-color);      
}

.logo{
  margin: 0;
  padding-top: 8px;
}

.name{
  margin-left: 30px;
  margin-bottom: -30px;
}

.navbar{
  margin-right: 30px;
  margin-top: 60px;
}

.hamburger{
  font-size: 1.8rem;
  cursor: pointer;
}

.nav-links {
  display: none;
  flex-direction: column;
  gap: 10px;
  background-color: #a9d3eb;
  padding: 35px;
  position: absolute;
  top: 85px;
  right: 1px;
  border: 2px solid black;
  border-radius: 10px;
}

.nav-links.active {
  display: flex;
}

.nav-links a {
  text-decoration: none;
  color: var(--primary-typo-color);
  font-size: 1.6rem;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: color 0.3s ease-in-out;
}

.main:hover {
  color: var(--first-color);
}

.nav-links li {
  list-style: none;
  text-align: center;
}

/*  ---------------Manu Sections----------------  */

.intro h1{
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.4rem;
  text-align: center;
}

.intro h2{
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.2rem;
  text-align: center;
  color: var(--second-type-color);
}

#content{
  background: var(--third-color);
}

#content2{
  background: var(--third-color);
}

#content3{
  background: var(--third-color);
}

#content4{
  background: var(--third-color);
}

#content5{
  background: var(--third-color);
}

#content6{
  background: var(--third-color);
}

#content7{
  background: var(--third-color);
}

#content8{
  background: var(--third-color);
}

#content9{
  background: var(--third-color);
}

.headers h1{
  background: var(--second-color);
  padding: 10px;
  text-align: center;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.9rem;
}

#table{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  margin-top: -25px;
  list-style: none;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.2rem;
}

#table ul{
  list-style: none;
}

.left{
  grid-column: 1/10;
  margin-left: -10px;
}

.right{
  grid-column: 10/12;
}

.multiple-items div{
  margin: 10px;
}

.left2{
  grid-column: 1/10;
  margin-left: -10px;
}

.right2{
  grid-column: 10/12;
  margin-left: -15px;
}

.left3{
  grid-column: 1/7;
  margin-left: -10px;
}

.right3{
  grid-column: 7/12;
}

.ingred{
  text-align: center;
  font-family: "DM Serif Text", serif;
  font-style: italic;
  font-size: 1.2rem;
}

.ingred h2{
  color: var(--second-type-color);
}

.ingred hr{
  margin-left: 80px;
  margin-right: 80px;
  margin-top: -20px;
  border: none;
  height: 1.5px;
  background-color: #000000;
}

.left4{
  grid-column: 1/8;
}

.right4{
  grid-column: 8/12;
}

/*  ---------------Footer-----------------  */

footer{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  background: var(--first-color);
  margin-top: 20px;
}

.left-side{
  grid-column: 1/10;
}

footer p{
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
  text-align: center;
  color: var(--third-type-color);
}

footer h4{
  font-family: "DM Serif Text", serif;
  font-style: italic;
  font-size: 1rem;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 5px;
}

footer img{
  margin-left: 15px;
  margin-bottom: 15px;
}

.right-side{
  grid-column: 10/12;
  margin-top: 35px;
  margin-left: -40px;
}

footer h3{
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  margin-right: -10px;
}

.fa-location-dot {
  color: var(--third-type-color);
  font-size: 1.2rem; 
}

.icons{
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
  margin-left: 70px;
  gap: 10px;
}

footer a{
  text-decoration: none;
  color: var(--forth-color);
}

footer a:hover{
  color: var(--primary-typo-color);  
}

/*  ---------------Back to Top-----------------  */
.progress-wrap {
	position: fixed;
	right: 10px;
	bottom: 50px;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	border-radius: 50px;
	background-color: var(--second-type-color);           
	box-shadow: inset 0 0 0 2px rgba(255,255,255,0.2);
	z-index: 10000;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);
	transition: all 200ms linear;
}

.progress-wrap.active-progress {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.progress-wrap::after {
	position: absolute;
	content: '↑';               
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	color: var(--primary-typo-color);                 
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 2;
	transition: all 200ms linear;
}

.progress-wrap::before {
	display: none;
}

.progress-wrap svg path { 
	fill: none; 
}

.progress-wrap svg.progress-circle path {
	stroke: var(--primary-typo-color);
	stroke-width: 4;
	box-sizing: border-box;
	transition: all 200ms linear;
}

@media (max-width: 380px) {
  .container{
    margin: 0 auto;
  }

  .navbar {
    margin-top: 65px;
    margin-right: 20px;
  }

  .nav-links a{
    font-size: 1.2rem;
  }

  .intro h1, .intro h2 {
    font-size: 1.8rem;
  }

  .headers h1{
    font-size: 1.7rem;
  }

  #table {
    grid-template-columns: repeat(12, 1fr);
    font-size: 1rem;
  }

  .left, .left2{
    grid-column: 1 / 10;
  }

  .right, .right2 {
    grid-column: 10 / 12;
  }

  .left3{
    grid-column: 1/7;
    margin-left: -10px;
  }

  .right3{
    grid-column: 7/12;
  }

  .left4{
    grid-column: 1/8;
  }

  .right4{
    grid-column: 8/12;
  }

  .ingred{
    font-size: 1rem;
  }

  footer p{
    font-size: 1rem;
  }

  .right-side{
    margin-left: -10px;
  }

  footer h3{
    margin-right: -30px;
    font-size: 1rem;
  }
  
  footer img{
    width:240px;
  }
  
}

@media (max-width: 320px) {
  .container{
    margin: 0 auto;
  }

  .name {
    margin-left: 0;
  }

  .navbar {
    margin-top: 60px;
    margin-right: 5px;
  }

  .intro h1, .intro h2 {
    font-size: 1.5rem;
  }

  .headers h1{
    font-size: 1.6rem;
  }

  #table {
    grid-template-columns: repeat(12, 1fr);
    font-size: 0.8rem;
  }

  .left, .left2{
    grid-column: 1 / 10;
  }

  .right, .right2 {
    grid-column: 10 / 12;
  }

  .left3{
    grid-column: 1/7;
    margin-left: -10px;
  }

  .right3{
    grid-column: 7/12;
  }

  .left4{
    grid-column: 1/8;
  }

  .right4{
    grid-column: 8/12;
  }

  .ingred{
    font-size: 0.8rem;
  }

  footer h4, footer h3, footer p {
    font-size: 0.9rem;
  }

  footer img{
    width: 200px;
  }
}

