html {
  box-sizing: border-box;
}
  *,
  *:before,
  *:after {
  box-sizing: inherit;
}
  
/*  --------------- Utility Classes -----------------  */
  
:root{
--main-bg-color: #ffffff;
--first-color: #FCEBB8;
--second-color: #FC465E;
--third-color: #E7F7FF;
--forth-color: #0B3290;
--primary-typo-color: #000000;
--second-type-color: #3DA2D9;
}

body{
    margin: 0;
    padding: 0;
}
  
.container {
    width: 100%;
    max-width: 440px;
    margin: 0 auto;
}

#primary{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -40px;
    background: var(--first-color);      
}

.logo{
    margin: 0;
    padding-top: 8px;
}

.name{
    margin-left: 30px;
    margin-bottom: -30px;
}

.navbar{
    margin-right: 30px;
    margin-top: 60px;
}

.hamburger{
    font-size: 1.8rem;
    cursor: pointer;
}

.intro h1{
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.4rem;
    text-align: center;
}

.intro h2{
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.2rem;
    text-align: center;
    color: var(--second-type-color);
}

.content{
    background: var(--third-color);
}

.headers h1{
    background: var(--second-color);
    padding: 10px;
    text-align: center;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.9rem;
}

#table{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    margin-top: -25px;
    list-style: none;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.2rem;
}

#table ul{
    list-style: none;
}

.left{
    grid-column: 1/10;
    margin-left: -10px;
}

.right{
    grid-column: 10/12;
}

.multiple-items {
  position: relative;
  max-width: 100%;
  margin: auto;
}

.multiple-items div {
  margin: 10px;
}

